<input type="file" class="file-upload" (change)="readFile($event)">

<input type="file" class="file-upload" (change)="readFile2($event)">

<button (click)="redirect(0)" style="font-size: 1.5vw;height: 3vw;">Cluster 1</button>

<button (click)="redirect(2)" style="font-size: 1.5vw;height: 3vw;">Cluster 2</button>
<button (click)="redirect(3)" style="font-size: 1.5vw;height: 3vw;">Cluster 3</button>


<button (click)="redirect(4)" style="font-size: 1.5vw;height: 3vw;">Cluster 4</button>


<button (click)="redirect(5)" style="font-size: 1.5vw;height: 3vw;">Cluster 5</button>

<button (click)="redirect(6)" style="font-size: 1.5vw;height: 3vw;">Cluster 6</button>

<div class="map-wrapper">
        <div id="map"></div>
</div>
